Reset default styles * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
/* body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
} */

.login {
  height: 100vh;
  width: 100vw;
  background-color: #333131;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: PressStart2P-Regular;
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.login-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.login-form {
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(11, 11, 11, 0.919)
  );
}
.login-form h1 {
  color: #fff;
  font-size: 4vh;
  margin-bottom: 0.5em;
  padding-left: 10px;
}

.login-form p {
  color: #fff;
  margin-bottom: 0.5em;
  padding-left: 30px;
}

.login-panel {
  width: 90%;
  background-color: rgb(63, 63, 63);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.354) 0px 0px 10px 10px;
  font-size: 14px;
}

.login-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-panel-options {
  font-size: 15px;
}

.login-panel-loader {
  margin-top: 15px;
  margin-right: 15px;
}

.login-panel-options span {
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 0px;
  border-color: rgba(63, 63, 63, 0);
  color: #e74c3c;
}

.login-panel-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 5px;
  padding-left: 10px;
}

.login-panel-footer span {
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 0px;
  border-color: rgba(63, 63, 63, 0);
}

.active {
  box-shadow: rgba(0, 0, 0, 0.354) 1px 1px 10px 0px;
  clip-path: inset(-5px -5px 0px -5px);
  color: white !important;
  pointer-events: none;
}

/* Vinyl record container */
.vinyl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.vinyl-record {
  position: absolute;
  width: 30vw;
  height: 30vw;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: slideIn 1s ease-in-out 0s 1 normal none running;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.vinyl-label {
  width: 37.5%;
  height: 37.5%;
  background-color: #e74c3c;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vinyl-hole {
  width: 5%;
  height: 5%;
  background-color: #111;
  border-radius: 50%;
  z-index: 1;
}

.vinyl-record-texture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgba(150, 150, 150, 0.29),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-panel-loader {
  width: 10px;
  height: 10px;
}

/* Animation */
@keyframes spin {
  from {
  }
  to {
    transform: rotate(120deg);
  }
}

@keyframes wobble {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2deg);
  }
}

.vinyl-overlay {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

@keyframes slideIn {
  0% {
    transform: translateX(calc(0vw - 800px));
  }
  100% {
    transform: translateX(0);
  }
}

.expand-vinyl {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform: translateX(50vw) scale(400%) rotate(400deg);
}

@keyframes slideOut {
  0% {
  }
  100% {
    transform: translateX(100vw);
  }
}
